お気に入りページ
<br>

<table>
<% if @favorite.present? %>
  <tr>
    <th colspan='1'>投稿者</th>
    <th colspan='4'>物件写真</th>
    <th colspan='3'>物件名</th>
    <th colspan='3'>家賃</th>
    <th colspan='3'>敷金</th>
    <th colspan='3'>礼金</th>
    <th colspan='3'>広さ(㎡)</th>
    <th colspan='3'>間取り</th>
    <th colspan='3'>クリック数</th>
  </tr>
  <% @favorite.each do |f| %>
    <tr>
      <th colspan='1'><%= f.property.user.name %></th>
      <th colspan='4'>
        <%= link_to property_path(f.property.id) do %>
          <%= image_tag(f.property.image[0].url, size:"60x60") %>
        <% end %>
      </th>
      <th colspan='3'><%= link_to f.property.name, property_path(f.property.id) %></th>
      <th colspan='3'><%= f.property.rent %>万</th>
      <th colspan='3'><%= f.property.subsidy %></th>
      <th colspan='3'><%= f.property.reward %></th>
      <th colspan='3'><%= f.property.area %>㎡</th>
      <th colspan='3'><%= f.property.extent %></th>
      <th colspan='3'><%= f.property.impressionist_count %></th>
    </tr>
  <% end %>
<% else %>
  <td><h3>登録されたお気に入りがありません。</h3></td>
<% end %>
</table>