<div>
  <table>
     <tr>
      <td>хКахЕецЧе:
      <%= @user.created_at %></td>
    </tr>
    <tr>
      <td><%= image_tag @user.icon_image.url %></td>
    </tr>
    <tr>
      <td>name:<%= @user.name %>ЁЯОК</td>
    </tr>
    <tr>
      <td>хКахЕецЬЙх╜в
        <% if @user.authority == 1  %>
          :ф╕НхЛХчФгценшАЕ
        <% else %>
          :хИйчФишАЕ
        <% end %>
      </td>
    </tr>
    <tr>
      <td>уБВуБкуБЯуБп<%= @user.id %>чХкчЫоуБоф╝ЪхУбуБзуБЩуАВ</td>
    </tr>
  </table>
    <%= link_to 'ф╝ЪхУбцГЕха▒ф┐оцнг', edit_user_path(current_user.id) %>
</div>