<script language='javascript'>
function sub(){
  if($("#title").val() === null || $("#title").val() == ''){  
    alert("タイトルを入力してください。")
    return false;
  }  
  else if($("#content").val() == null || $("#content").val() == ''){  
    alert("コンテンツを入力してください。")
    return false;
  }
};
</script>
<%= form_with(model: @noticeboards, local: true, url: choose_notice_new_or_edit, method: 'post') do |f| %>
<table>
  <tr>
    <td><%= f.label :Name %></td>
    <td><%= f.text_field :name, :value => @user.name , :readonly => true %></td>
  </tr>
  <tr>
    <td><%= f.label :Title %></td> 
    <td><%= f.text_field :title , :value => @noticeboards.title , :id => 'title'%></td>
  </tr>
  <tr>
    <td><%= f.label :Content %></td> 
    <td><%= f.text_area(:content, size: '50x10', :class => 'text_area', :value => @noticeboards.content, :id => 'content' ) %></td>
  </tr>
  <tr>
    <td><%= f.submit 'お知らせ作成', onclick: 'return sub()' %></td>
    <td><%= f.hidden_field :id, :value => @noticeboards.id %></td>
  </tr> 
</table>
<% end %>