
<%= search_form_for(@q, url:searches_many_result_path) do |f| %>
<table>
  <tr>
    <td></td>
    <td><%= f.label :rent, '家賃'%></td>
    <td><%= f.label :subsidy, '敷金'%></td>
    <td><%= f.label :reward, '礼金' %></td>
    <td><%= f.label :reward, '広さ(㎡)' %></td>
    <td><%= f.label :extent, '間取り'%></td>
  </tr>    
  <tr>
    <td></td>
    <td><%= f.select :rent_gteq, [['3万以上~', '3'], ['4万以上~', '4'],['5万以上~', '5'],['6万以上~', '6']], :include_blank => '指定なし' %></td>
    <td><%= f.select :subsidy_eq, [['なし', 'なし'], ['1ヵ月', '1ヵ月'],['2ヵ月', '2ヵ月']], :include_blank => '指定なし' %></td>
    <td><%= f.select :reward_eq, [['なし', 'なし'], ['1ヵ月', '1ヵ月'],['2ヵ月', '2ヵ月']], :include_blank => '指定なし' %></td>
    <td><%= f.select :area_gteq, [['20(㎡)以上~', '20'], ['25(㎡)以上~', '25'],['30(㎡)以上~', '30'],['35(㎡)以上~', '35'],['40(㎡)以上~', '40'],['45(㎡)以上~', '45']], :include_blank => '指定なし' %></td>
    <td><%= f.select :extent_eq, [['1R','1R'], ['1K','1K'],['1DK','1DK'],['1LDK','1LDK'],['2K','2K'],['2LDK','2LDK'],['3K','3K'],['3DK','3DK'],['3LDK','3LDK'],['4K','4K']], :include_blank => '指定なし' %></td>
    <td><%= f.submit '検索' %></td>
  </tr>
</table>
<% end %>