
<%= search_form_for(@q, url:searches_many_result_path) do |f| %>
<table>
  <tr>
    <td></td>
    <td><%= f.label :rent, '家賃'%></td>
    <td><%= f.label :subsidy, '敷金'%></td>
    <td><%= f.label :reward, '礼金' %></td>
    <td><%= f.label :reward, '区' %></td>
    <td><%= f.label :reward, '広さ(㎡)' %></td>
    <td><%= f.label :extent, '間取り'%></td>
  </tr>    
  <tr>
    <td></td>
    <td><%= f.select :rent_gteq, [['30以上~', '30'], ['40以上~', '40'],['50以上~', '50'],['60以上~', '60']], :include_blank => '指定なし' %></td>
    <td><%= f.select :subsidy_eq, [['なし', 'なし'], ['1っか月', '1っか月'],['2っか月', '2っか月']], :include_blank => '指定なし' %></td>
    <td><%= f.select :reward_eq, [['なし', 'なし'], ['1っか月', '1っか月'],['2っか月', '2っか月']], :include_blank => '指定なし' %></td>
    <td><%= f.select :region_eq, [['千代田','千代田'],['中央','中央'],['港','港'],['江東','江東'],['新宿','新宿'],['文京','文京'],['大田','大田'],['台東','台東'],['渋谷','渋谷'],['世田谷','世田谷'],['中野','中野'],['品川','品川'],['目黒','目黒'],['墨田','墨田'],['板橋','板橋'],['北','北'],['足立','足立'],['葛飾','葛飾'],['練馬','練馬'],['荒川','荒川'],['杉並','杉並'],['江戸川','江戸川'],['豊島','豊島'],
    ['==大阪==',''],['此花','此花'],['鶴見','鶴見'],['阿倍野','阿倍野'],['旭區','旭區'],['浪速','浪速'],['西','西'],['西成','西成'],['生野','生野'],['城東','城東'],['西成','西成'],['西淀川','西淀川'],['中央','中央'],['福島','福島'],['大正','大正'],['天王寺','天王寺'],['東成','東成'],['東住吉','東住吉'],['都島','都島'],['東淀川','東淀川'],['平野','平野'],['住之江','住之江'],['住吉','住吉']], :include_blank => '==東京==' %></td>
    <td><%= f.select :area_gteq, [['20(㎡)以上~', '20'], ['25(㎡)以上~', '25'],['30(㎡)以上~', '30'],['35(㎡)以上~', '35'],['40(㎡)以上~', '40'],['45(㎡)以上~', '45']], :include_blank => '指定なし' %></td>
    <td><%= f.select :extent_eq, [['1R','1R'], ['1K','1K'],['1DK','1DK'],['1LDK','1LDK'],['2K','2K'],['2LDK','2LDK'],['3K','3K'],['3DK','3DK'],['3LDK','3LDK'],['4K','4K']], :include_blank => '指定なし' %></td>
    <td><%= f.submit '検索' %></td>
  </tr>
</table>
<% end %>