<script language='javascript'>
function sub(){
  if($("#image").val() === null || $("#image").val() == ''){  
    alert("物件イメージは最低一枚登録してください。")
    return false;
  }  
  else if($("#name").val() == null || $("#name").val() == ''){  
    alert("物件名を入力してください。")
    return false;
  }
  else if($("#address").val() == null || $("#address").val() == ''){  
    alert("住所を入力してください。")
    return false;
  }
  else if($("#rent").val() == null || $("#rent").val() == ''){  
    alert("家賃を入力してください。")
    return false;
  }
  else if($("#area").val() == null || $("#area").val() == ''){  
    alert("広さを入力してください。")
    return false;
  }
  var rent = document.getElementById('rent');
  var area = document.getElementById('area');
  
  var re = /^[1.0-9.0]+$/;
  if(!re.test(rent.value)) {
    alert("家賃欄に正常数を入れてください。");
    return false;
  }

  else if(!re.test(area.value)) {
    alert("広さ欄に正常数を入れてください。");
    return false;
  }
  if($('#injapanTOKYO').is(':checked')) {
    $('#oosakaku').remove();
    return true;
  }
  else if($('#injapanOOSAKA').is(':checked')){
    $('#tokyoku').remove();
    return true;
  }
};
function GooglemapGuide(){
  var googlemap_dic = './googlemap.html'
  <% unless @propertys.id == nil %>
    googlemap_dic = '../googlemap.html'
  <% end %>
  window.open( googlemap_dic ,'','width=790, height=800,scrollbars=yes,toolbar=no,menubar=no,status=no,resizable=yes')
}
</script>
<% if @propertys.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@propertys.errors.count, "件エーラの") %> が発生しました、ご確認お願いします。</h2>
    <ul>
    <% @propertys.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @propertys, local: true, url: choose_new_or_edit, name: "Form",  method: "post") do |f| %>
<table>
    <tr>
      <td ropspan ='2'><%= f.label :物件イメージ %></td>
        <% if @propertys.image.present? %>
          <% @propertys.image.each do |image| %>
            <th><%= image_tag (image.url)%></th>
            <td><%= f.file_field :image, :multiple => true, :value => @propertys.image, :id => "image" %></td>
          <% end %>
        <% else %>
          <td><%= f.file_field :image, :multiple => true, :value => @propertys.image, :id => "image" %></td>
        <% end %>
    </tr>
    <tr>
      <td ropspan ='2'><%= f.label :内部ビデオ %></td>
      <% if @propertys.video.present? %>
        <th><%= video_tag @propertys.video.url, autoplay: true, muted: true, controls: true , :size => "350x260"%></th>
      <% else %>
        <td><%= f.file_field :video, :multiple => false, :value => @propertys.video %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :物件名 %></td>
      <td><%= f.text_field :name, :value => @propertys.name, :id => "name" %></td>
    </tr>
    <tr>
      <td><%= f.label :物件住所 %></td>
      <td><%= f.text_field :address, :value => @propertys.address, :id => "address" %></td>
    </tr>
    <tr>
      <td><%= f.label :家賃%>(万)</td>
      <td><%= f.text_field :rent, :value => @propertys.rent , :id => "rent" %></td>
    </tr>
    <tr>
      <td><%= f.label :敷金 %></td>
      <td><%= f.select :subsidy, [['なし', 'なし'], ['1か月', '1か月'],['2か月', '2か月']], :selected => @propertys.subsidy, :value => @propertys.reward  %></td>
    </tr>
    <tr>
      <td><%= f.label :礼金 %></td>
      <td><%= f.select :reward, [['なし', 'なし'], ['1か月', '1か月'],['2か月', '2か月']], :selected => @propertys.reward, :value => @propertys.reward %></td>
    </tr>
    <tr>
      <td><%= f.label :広さ %>(㎡)</td>
      <td><%= f.text_field :area, :value => @propertys.area, :id => "area" %></td>
    </tr>
    <tr>
      <td><%= f.label :間取り %></td>
      <td><%= f.select :extent, [['1R','1R'], ['1K','1K'],['1DK','1DK'],['1LDK','1LDK'],['2K','2K'],['2LDK','2LDK'],['3K','3K'],['3DK','3DK'],['3LDK','3LDK'],['4K','4K']], :selected => @propertys.extent, :value => @propertys.extent %></td>
    </tr>
      <td colspan ='2'>
        <%= f.submit '物件登録', onclick: 'return sub()' %>
      </td>
    </tr>
  </table>
<% end %>
