 <script>
 var geo;
 var map
      function initMap() {
        geo = new google.maps.Geocoder();
        var req = {
        address: "<%= @propertys.address %>",
        };
        geo.geocode(req, geoResultCallback);
      }
    
      function geoResultCallback(result, status) {
      if (status != google.maps.GeocoderStatus.OK) {
        alert("住所が間違っています。ご確認後、修正お願いします。");
        return;
      }
      var latlng = result[0].geometry.location;
      
      var map = new google.maps.Map(document.getElementById('google_map'),{
        zoom: 14,
        center: latlng
      });
      new google.maps.Marker({position:latlng, map:map});
    }
    
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfhQeDhWJ_go3vaiDCB0slA9uFoK4nSpw&callback=initMap">
</script>
<h1>物件登録確認ページ</h1>
<div>
<table>
  <tr>
    <td>物件イメージ</td>
  </tr>
<%= form_with(model: @propertys, url: propertys_path, local: true) do |f| %>  
    <tr>
      <% if @propertys.image? %>
        <% @propertys.image.each do |image| %>
          <td><%= image_tag(image.url)%></td>
        <% end %>
      <% end %>  
      <td><%= f.hidden_field :image, value: @propertys.image %></td>
      <td><%= f.hidden_field :image_cache %></td>
    </tr>
    <tr>
      <td>ビデオ</td>
    </tr>
    <tr>
      <% if @propertys.video? %>
        <td><%= video_tag @propertys.video.url, autoplay: true, muted: true, controls: true , :size => "350x260"%></td>
        <%= f.hidden_field :video, :value => @propertys.video.url %>
        <%= f.hidden_field :video, value: @propertys.video.url %>
      <% else %>
        <td>登録されたビデオがありません。</td>
      <% end %>  
    </tr>
    <tr>
      <td>物件名</td>
      <td><%= @propertys.name %></td>
      <td><%= f.hidden_field :name, value: @propertys.name %></td>
    </tr>
    <tr>
      <td>物件名</td>
      <td><%= @propertys.address %></td>
      <td><%= f.hidden_field :address, value: @propertys.address %></td>
    </tr>
    <tr>
      <td>家賃</td>
      <td><%= @propertys.rent %>万</td>
      <td><%= f.hidden_field :rent, value: @propertys.rent %></td>
    </tr>
    <tr>
      <td>敷金</td>
      <td><%= @propertys.subsidy %></td>
      <td><%= f.hidden_field :subsidy, value: @propertys.subsidy %></td>
    </tr>
    <tr>
      <td>礼金</td>
      <td><%= @propertys.reward %></td>
      <td><%= f.hidden_field :reward, value: @propertys.reward %></td>
    </tr>
    <tr>
      <td>区</td>
      <td>
        <% if @propertys.region == ('千代田'||'中央'||'港'||'新宿'||'文京'||'台東'||'渋谷'||'豊島'||'世田谷'||'中野'||'品川'||'目黒'||'墨田'||'北'||'江戸川'||'練馬'||'杉並') %>
          toukyou
        <% else %>
          oosaka
        <% end %>
        <%= @propertys.region %>区
      </td>
      <td><%= f.hidden_field :region, value: @propertys.region %></td>
    </tr>
    <tr>
      <th>地図</th>
    </tr>  
    <tr>
      <th>
        <div id="google_map"  style="width:500px;height:380px;"></div>
        <td><%= f.hidden_field :address, value: @propertys.address %></td>
      </th>
    </tr>
    <tr>
      <td>広さ</td>
      <td><%= @propertys.area %>㎡</td>
      <td><%= f.hidden_field :area, value: @propertys.area %></td>
    </tr>
    <tr>
      <td>間取り</td>
      <td><%= @propertys.extent %></td>
      <td><%= f.hidden_field :extent, value: @propertys.extent %></td>    
    </tr>
    <tr>
      <td><%= f.submit "登録" %></td>
    </tr>
<% end %>
</table>
</div>
<%= form_with(model: @propertys, url: new_property_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :rent %>
  <%= form.hidden_field :subsidy %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :reward %>
  <%= form.hidden_field :area %>
  <%= form.hidden_field :extent %>
  <%= form.submit "戻る", name: 'back' %>
<% end %> 