<hr>
<%= render 'searches/search_form', post: @propertys.klass %>
<hr>
<%= render 'searches/select_search_form' %>
<hr>
<table>
  <tr>
  <td><%= link_to '人気物件一覧', popular_list_propertys_path %></td>
  </tr>
  <tr>
  <% if @user.present? %>
    <% if @user.authority == 1 %>
      <td><%= link_to '物件登録', new_property_path %></td>
  <% else %>
      <td><%= link_to 'お気に入り物件一覧', favorite_list_favorites_path %></td>
    <% end %>
  <% end %>
  </tr>
</table>
<br>

<table>
<% if @propertys.present? %>
    <tr>
      <th colspan='1'>投稿者</th>
      <th colspan='4'>物件写真</th>
      <th>物件名</th>
      <th>家賃</th>
      <th>敷金</th>
      <th>礼金</th>
      <th>区</th>
      <th>広さ(㎡)</th>
      <th>間取り</th>
      <th>クリック数</th>
    </tr>
  <% @propertys.each do |f| %>
    <tr>
      <th colspan='1'><%= f.user.name %></th>
      <th colspan='4'>
        <%= link_to property_path(f.id) do %>
          <%= image_tag(f.image[0].url, size:"60x60") %>
        <% end %>
      </th>
      <th><%= link_to f.name, property_path(f.id) %></th>
      <th><%= f.rent %></th>
      <th><%= f.subsidy %></th>
      <th><%= f.reward %></th>
      <th><%= f.region %></th>
      <th><%= f.area %></th>
      <th><%= f.extent %></th>
      <th><%= f.impressionist_count %></th>
      <% if f.user_id == current_user.id %>
        <th>
          <%= link_to '編集', edit_property_path(f.id), data:{confirm: "物件情報を編集しますか."} %>
        </th>
        <th>
          <%= link_to '削除', property_path(f.id), method: :delete, data:{confirm: "物件を削除しますか."} %>
        </th>
      <% end %>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan='10'><h3>登録された物件がありません。</h3></td>
  </tr>
<% end %>
</table>